@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>CEO:</strong> <a href="mailto:hatta@qrcash.com">hatta@qrcash.com</a><br />
    <strong>CTO:</strong> <a href="mailto:ix@qrcash.com">ix@qrcash.com</a>
</address>
